:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark-grey-blue);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --tomato: #F55A5A;
  --light-grey: #918E9B;
  --dark-grey-blue:#2B283A;
  --border-grey: #F5F5F5;
}

body{
  margin:0;
  padding:0;
}

.container{
  margin: 45px 40px;
}

.header{
  background-color: var(--tomato);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  height: 55px;

}

.journal-entry{
  display: flex;
  margin-bottom: 36px;
}

.main-image-container{
  height: 168px;
  width: 125px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
  margin-right: 17px;
}

.thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-marker{
  width: 9px;
  margin-right: 5px;
}


div.info-container > span {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 17%;
  line-height: 100%;
  margin-right: 12px;
  margin-top: 1.18rem;
  display: inline-block;
  font-size: 0.8rem;

}

div.info-container > a{
  color: var(--light-grey);
  font-size: 0.8rem;
}

div.info-container > a:visited{
  color: var(--light-grey);
}

div.info-container > h2  {
  font-weight: 700;
  font-size: 1.56rem;
  margin-top: 7px;
  margin-bottom:8px;
}

div.info-container > span.trip-date{
  font-weight: 700;
  font-size: 0.8rem;
}

div.info-container > p{
  line-height: 1.5;
  font-size: 0.8rem;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
